.hero-image {
    min-height: 25rem;
    background-image: url(../img/9.avif);
    background-repeat: no-repeat;
    color: white;
    background-position: 100% 90%;
    /* height: 100vh; */
    background-size: cover;
}
.hero-image div{
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.567);
}

.bg-primary{ 
    background-color: rgb(86, 0, 140) !important;
}
.bg-success{ 
    background-color: rgb(2, 214, 37) !important;
}

.redondeo{
    border-radius: 10px;
}